@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@keyframes colorFade {

    0%,
    100% {
        background-color: #ffeafa;
    }

    33% {
        background-color: #e4e9ff;
    }

    66% {
        background-color: #e7fffe;
    }

}

/* App and Welcome Screen */
.App,
.welcome-screen {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

/* Welcome Screen Heading */
.welcome-screen h2 {
    display: block;
}

/* Input Groups for the Welcome Screen */
.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

/* Range Sliders */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 10px;
    background: #9D98A6;
    outline: none;
    opacity: 0.5;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #5e5681;
}

input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #5e5681;
}

/* Submit Button */
button {
    padding: 15px 25px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    background: #C5BCC2;
    border-radius: 15px;
    border-style: none;
}

h2 {
    padding: 15px 25px;
}

/* Card Styles */
.card {
    /* max-width: 295px; */
    width: 295px;
    height: 450px;
    position: relative;
    background-color: #fafafa;
    box-shadow: 0 4px 8px rgba(157, 152, 166, 0.3);
    border-radius: 25px;
    border: 1px solid #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 0px;
    overflow: hidden;
    user-select: none;
}

.card p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    color: #1f2127;
}

/* Animation Keyframes */
@keyframes animate-next {
    from {
        transform: rotate(0deg);
        opacity: 1;
    }

    to {
        transform: rotate(40deg) translateY(-80px);
        opacity: 0;
    }
}

@keyframes animate-prev {
    from {
        transform: rotate(0deg);
        opacity: 1;
    }

    to {
        transform: rotate(-40deg) translateY(-80px);
        opacity: 0;
    }
}

/* Animation Classes */
.animate-next {
    animation: animate-next 700ms forwards;
}

.animate-prev {
    animation: animate-prev 700ms forwards;
}

/* new */

/* Animation Keyframes */
@keyframes animate-fwd {
    from {
        transform: rotate(0deg);
        opacity: 1;
    }

    to {
        transform: rotate(40deg) translateY(-80px);
        opacity: 0;
    }
}

@keyframes animate-back {
    from {
        transform: rotate(0deg);
        opacity: 1;
    }

    to {
        transform: rotate(-40deg) translateY(-80px);
        opacity: 0;
    }
}

/* Animation Classes */
.animate-fwd {
    animation: animate-fwd 700ms forwards;
}

.animate-back {
    animation: animate-back 700ms forwards;
}