@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f3f3;
}

.card {
  width: 295px;
  height: 450px;
  position: relative;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  border: 1px solid #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 50px;
  overflow: hidden;
  user-select: none;
  font-size: 80px;
}

.card p {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 40px;
  text-align: center;
}

/* Animation */

@keyframes animate-next {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }

  to {
    transform: rotate(40deg) translateY(-80px);
    opacity: 0;
  }
}

@keyframes animate-prev {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }

  to {
    transform: rotate(-40deg) translateY(-80px);
    opacity: 0;
  }
}

.animate-next {
  animation: animate-next 500ms forwards;
}

.animate-prev {
  animation: animate-prev 500ms forwards;
}