@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f3f3;
}

.card {
  width: 295px;
  height: 450px;
  position: relative;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  border: 1px solid #E8E6EA;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 50px;
  overflow: hidden;
  user-select: none;
  font-size: 80px;
  /* Prevent user from selecting text to improve swipe experience */
}

.card p {
  font-family: "Lato", sans-serif;
  font-weight: 250;
  font-style: normal;
  font-size: 40px;
  text-align: center;
}

/* Existing styles remain unchanged */

@keyframes animate-next {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }

  to {
    transform: rotate(40deg) translateY(-80px);
    opacity: 0;
  }
}

@keyframes animate-prev {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }

  to {
    transform: rotate(-40deg) translateY(-80px);
    opacity: 0;
  }
}

.animate-next {
  animation: animate-next 500ms forwards;
}

.animate-prev {
  animation: animate-prev 500ms forwards;
}